* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    width: 100%;
    height: calc(100vh + 400px);
    overflow: scroll;
}
canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 200px;
    pointer-events: none;
    overflow: hidden;
}
.slide-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
