@font-face { font-family: GoldenPier; src: url(MapoGoldenPier.ttf); }
@font-face { font-family: Palatino; src: url(Palatino.ttf); }
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    background-color: transparent;
    width: 100%;
    height: 100%;
}
#section-intro {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: GoldenPier;
}
#section-intro-internal {
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    background-color: #fffaf3;
}
#intro-top {
    display: flex;
    width: 100%;
    height: 160pt;
    justify-content: center;
    align-items: center;
    background-color: #fffaf3;
}
#intro-mid {
    display: flex;
    width: 100%;
    height: calc(100vw * 250 / 375);
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    background-color: #fffaf3;
    position: relative;
}
#cover-photo {
    width: 100vw;
    height: calc(100vw * 250 / 375);
    position: absolute;
    left: -16px;
    box-shadow: 0px 3px 8px 3px rgba(109,90,56,0.5);
}
#cover-canvas {
    width: 100vw;
    height: calc(100vw * 250 / 375);
    position: absolute;
    left: -16px;
}
#intro-btm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #fffaf3;
    padding-top: 140px;
}
#intro-btm-last {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #fffaf3;
    margin-top: 40px;
}
#intro-btm-line {
    margin-top: -16px;
    width: 60px;
    height: 2px;
    background-color: #f1cb9c;
}
#intro-tag {
    width: 45%;
    max-width: 143px;
    background-color: #fffaf3;
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro-tag-top {
    width: 100%;
    height: 65%;
    background-color: #f1cb9c;
    display: flex;
    justify-content: center;
    align-items: center;
}
#date-img {
    width: 100%;
    height: auto;
}
#text-img {
    width: calc(100% - 32px);
    height: auto;
}


@media all and (min-width: 1024px) and (max-width: 1280px) {
    .cover-photo {
        top: 50px;
    }
}

@media all and (min-height: 800px) and (max-height: 9024px) {
    .cover-photo {
        top: 50px;
    }
}
@media all and (min-height: 600px) and (max-height: 800px) {
    .cover-photo {
        top: 30px;
    }
}
@media all and (max-height: 600px) {
    .cover-photo {
        top: 0px;
    }
}
