* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    width: 100%;
    height: calc(100vh + 1px);
}
canvas {
    position: fixed;
    left: 0;
    top: 1px;
    pointer-events: none;
}
.slide-container {
    width: 100vw;
    height: 100%;
}
